@charset "utf-8";

// The colors are borrowed from Tableau's palette
$topics: (
    math: (color: #59a14f),
    signal: (color: #59a14f),
    geometry: (color: #4e79a7),
    rendering: (color: #edc948),
    animation: (color: #e15759),
    simulation: (color: #e15759),
    camera: (color: #bab0ac),
    color: (color: #bab0ac),
    image: (color: #bab0ac),
    hpc: (color: #b07aa1),
    arvr: (color: #b07aa1)
);

$color-border: #BBB;
$color-text: #222;
$color-text-secondary: #999;

$font-family: Lato, Helvetica, sans-serif;
$font-size: 16px;

// Base

html {
    font-family: $font-family;
    font-size: $font-size;
    color: $color-text;
    line-height: 1.25;
}

body {
    margin: 0;
    padding: 3em 2em;
}

h1 {
    margin: 1rem 0;
}

h2 {
    margin: 1rem 0;
}

h3 {
    font-size: 1.125rem;
    margin: 1rem 0;
}

a {
    color: inherit;
}

// Layout

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.topics {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.25em -0.25em 0;
}

.topics > .topic {
    flex: none;
    border: 1px solid $color-border;
    margin: 0 0.25em 0.25em 0;
    padding: 0.25em 0.5em 0.25em 1.5em;
    position: relative;
    line-height: 1;
    border-radius: 0.75em;
}

.topics > .topic::before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    border-radius: 0.5em;
}

.topics > .topic > .includes {
    margin-top: 0.25em;
    color: $color-text-secondary;
}

@each $topic, $val in $topics {
    .topics > .topic[data-topic^="#{$topic}"]::before {
        background-color: map-get($val, color);
    }
}
